{% assign news = site.data.news | sort: 'date' | reverse %}
<ul class="news-list" aria-label="Latest news">
  {% for item in news limit:6 %}
  <li><time datetime="{{ item.date | date: '%Y-%m' }}">{{ item.date | date: '%Y.%m' }}</time><div>{{ item.text | markdownify }}</div></li>
  {% endfor %}
</ul>
{% if news.size > 6 %}
  <ul class="news-list" id="news-archive" aria-label="Earlier news">
    {% for item in news offset:6 %}
    <li><time datetime="{{ item.date | date: '%Y-%m' }}">{{ item.date | date: '%Y.%m' }}</time><div>{{ item.text | markdownify }}</div></li>
    {% endfor %}
  </ul>
<button type="button" id="news-toggle" class="publications-toggle" aria-expanded="true" aria-controls="news-archive" hidden>See all news</button>
{% endif %}
